body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
    color: white;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.location {
    font-size: 14px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
}

.search-bar button {
    padding: 10px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
}

.account-info span {
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    background-color: #37475a;
    padding: 10px 20px;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
    color: white;
    cursor: pointer;
}

.deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.deal {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    text-align: center;
    padding: 20px;
}

#a{
    width: 50px;
    height: 50px;
}

#a1 {
    padding-top: 1%;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    width: 200px;
    height: 200px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
}

#a2 {
    padding-top: 10px;
    padding-top: 1%;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    width: 200px;
    height: 200px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
}
#a3 , #a4 {
    padding-top: 1%;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    width: 200px;
    height: 200px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
}
.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
    color: white;
    padding: 10px 20px;
}

